openapi: 3.0.3
info:
  title: Sicurre Platform API
  version: 0.2.0
  description: >
    Certification-first API contract for Sicurre. The API is organized into
    three layers: Data API for Bloc 1, Model API for Bloc 2, and Application
    API for Bloc 3.
servers:
  - url: https://sicurre.com
tags:
  - name: health
  - name: data-sources
  - name: data-ingestion
  - name: data-raw-records
  - name: data-messages
  - name: data-annotations
  - name: data-datasets
  - name: model
  - name: app
  - name: auth
  - name: internal
paths:
  /health:
    get:
      tags: [health]
      summary: Health check
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /v1/data/sources:
    get:
      tags: [data-sources]
      summary: List registered data sources
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of source systems
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/DataSource"
                  total:
                    type: integer
    post:
      tags: [data-sources]
      summary: Register a new data source system
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataSourceCreate"
      responses:
        "201":
          description: Data source created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataSource"

  /v1/data/ingestion-runs:
    get:
      tags: [data-ingestion]
      summary: List ingestion runs
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of ingestion runs
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/IngestionRun"
                  total:
                    type: integer
    post:
      tags: [data-ingestion]
      summary: Create an ingestion run
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestionRunCreate"
      responses:
        "201":
          description: Ingestion run created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestionRun"

  /v1/data/raw-records:
    get:
      tags: [data-raw-records]
      summary: List raw records extracted from collected source objects
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: source_system_id
          schema:
            type: string
        - in: query
          name: language
          schema:
            type: string
            example: fr
        - in: query
          name: is_usable
          schema:
            type: boolean
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            maximum: 200
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of raw records
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/RawRecord"
                  total:
                    type: integer

  /v1/data/messages:
    get:
      tags: [data-messages]
      summary: List normalized messages
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: label
          schema:
            type: string
            enum: [phishing, spam, legitimate, unknown]
        - in: query
          name: language
          schema:
            type: string
            example: fr
        - in: query
          name: split
          schema:
            type: string
            enum: [train, val, test, holdout]
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            maximum: 200
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of normalized messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/NormalizedMessage"
                  total:
                    type: integer
    post:
      tags: [data-messages]
      summary: Create a normalized message
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NormalizedMessageCreate"
      responses:
        "201":
          description: Message created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NormalizedMessage"

  /v1/data/messages/{id}:
    get:
      tags: [data-messages]
      summary: Get one normalized message
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Message details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NormalizedMessage"
        "404":
          description: Not found
    patch:
      tags: [data-messages]
      summary: Update label or redaction metadata on a normalized message
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NormalizedMessageUpdate"
      responses:
        "200":
          description: Message updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NormalizedMessage"
        "404":
          description: Not found
    delete:
      tags: [data-messages]
      summary: Delete a normalized message
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Deleted
        "404":
          description: Not found

  /v1/data/annotations:
    post:
      tags: [data-annotations]
      summary: Add an annotation to a normalized message
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnnotationCreate"
      responses:
        "201":
          description: Annotation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Annotation"

  /v1/data/datasets:
    get:
      tags: [data-datasets]
      summary: List dataset versions
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of datasets
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Dataset"
                  total:
                    type: integer
    post:
      tags: [data-datasets]
      summary: Create a dataset version
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatasetCreate"
      responses:
        "201":
          description: Dataset created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dataset"

  /v1/data/datasets/{id}/items:
    get:
      tags: [data-datasets]
      summary: List items inside a dataset
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Dataset items
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/DatasetItem"
                  total:
                    type: integer
        "404":
          description: Dataset not found

  /v1/email/scan:
    post:
      tags: [app]
      summary: Scan an inbound email from the Cloudflare Email Worker
      security:
        - WorkerSecretAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailScanRequest"
      responses:
        "200":
          description: Classification verdict for the Worker
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailScanResponse"
        "401":
          description: Missing or invalid Worker secret
        "503":
          description: Inference is unavailable; the Worker must not treat the message as scanned

  /v1/email/quarantine/{item_id}/content:
    put:
      tags: [internal]
      summary: Store original MIME for a quarantined Worker message
      description: >
        Worker-only custody route. The MIME object is private, size bounded,
        retained for at most the quarantine period, and deleted after release
        or expiry.
      security:
        - WorkerSecretAuth: []
      parameters:
        - in: path
          name: item_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          message/rfc822:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: MIME stored, including idempotent retry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuarantineCustodyResponse"
        "401":
          description: Missing or invalid Worker secret
        "404":
          description: Quarantine item does not belong to the Worker workspace
        "409":
          description: Different content was already stored for this item
        "413":
          description: MIME exceeds the configured custody limit

  /v1/auth/session:
    get:
      tags: [app]
      summary: Get the current Better Auth-backed Sicurre session
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Current session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSession"

  /v1/auth/profile:
    patch:
      tags: [app]
      summary: Update the current user's display name
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [display_name]
              properties:
                display_name:
                  type: string
                  minLength: 2
                  maxLength: 120
      responses:
        "200":
          description: Updated session payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthSession"

  /v1/threats:
    get:
      tags: [app]
      summary: List workspace-scoped scan events for the threat log
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Threat log rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ThreatLogEntry"

  /v1/threats/{id}/status:
    post:
      tags: [app]
      summary: Update a threat log row status
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ThreatStatusUpdate"
      responses:
        "200":
          description: Updated threat log row
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThreatLogEntry"

  /v1/feedback:
    post:
      tags: [app]
      summary: Submit production feedback for false positives or false negatives
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackRequest"
      responses:
        "201":
          description: Feedback recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackResponse"
        "409":
          description: Feedback already submitted for the same event/type

  /v1/support/requests:
    post:
      tags: [app]
      summary: Create a tenant-scoped support request
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SupportRequest"
      responses:
        "201":
          description: Support request recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportResponse"
        "422":
          description: Invalid request fields
        "429":
          description: Support request rate limit exceeded

  /v1/quarantine:
    get:
      tags: [app]
      summary: List currently held quarantine items
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Quarantine items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/QuarantineItem"

  /v1/quarantine/{id}/release:
    post:
      tags: [app]
      summary: Release a quarantined item to the configured destination inbox
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Original email delivered or an earlier release confirmed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuarantineReleaseResponse"
        "403":
          description: Cloudflare Email Sending permission is missing
        "409":
          description: Item is unavailable, already releasing, or lacks original MIME
        "424":
          description: Cloudflare rejected or could not queue the delivery
        "404":
          description: Quarantine item not found
        "503":
          description: Private quarantine storage is temporarily unavailable

  /v1/quarantine/{id}/whitelist:
    post:
      tags: [app]
      summary: Release a quarantined item and create an allow-list rule
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Release completed and sender allow-list state confirmed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/QuarantineReleaseResponse"
                  - type: object
                    properties:
                      whitelisted_pattern:
                        type: string
        "404":
          description: Quarantine item not found

  /v1/quarantine/{id}:
    delete:
      tags: [app]
      summary: Delete a quarantined item
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Quarantine item deleted
        "404":
          description: Quarantine item not found

  /v1/integrations/cloudflare/setup:
    post:
      tags: [app]
      summary: Start Cloudflare Email Routing provisioning for a domain
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloudflareSetupRequest"
      responses:
        "201":
          description: Provisioning started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareSetupResponse"

  /v1/integrations/cloudflare/status:
    get:
      tags: [app]
      summary: Get the latest Cloudflare integration status for the workspace
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Cloudflare integration status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareStatus"

  /v1/integrations/cloudflare/verify-token:
    post:
      tags: [app]
      summary: Verify that a Cloudflare token can access a zone
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloudflareTokenVerifyRequest"
      responses:
        "200":
          description: Token verification result

  /v1/integrations/cloudflare/list:
    get:
      tags: [auth]
      summary: List Cloudflare integrations connected to the workspace
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Integration list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CloudflareStatus"

  /v1/integrations/cloudflare:
    delete:
      tags: [app]
      summary: Remove the current Cloudflare Email Routing integration
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloudflareTeardownRequest"
      responses:
        "200":
          description: Integration removed
        "400":
          description: No stored Cloudflare credential is available
        "404":
          description: Integration not found
        "409":
          description: Provisioning is still in progress
        "502":
          description: Cloudflare rejected cleanup; local integration state is preserved

  /v1/integrations/cloudflare/token:
    get:
      tags: [app]
      summary: Get the workspace Cloudflare token status
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Token lookup result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareTokenStatus"
    post:
      tags: [app]
      summary: Save or replace the workspace Cloudflare API token
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloudflareTokenSaveRequest"
      responses:
        "200":
          description: Token saved
    delete:
      tags: [app]
      summary: Delete the workspace Cloudflare token and connected integrations
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Token and integrations deleted

  /internal/phishtank/snapshot:
    get:
      tags: [internal]
      summary: Export all usable PhishTank phishing URLs
      description: >
        Returns a flat list of phishing URLs sourced from the `phishtank-online-valid`
        feed. Intended for service-to-service calls (e.g. sicurre-ml classifier pipeline).
        Authenticated with a static bearer token (`INTERNAL_API_KEY`).
        Use the `since` parameter for incremental syncs after the initial seed load.
      security:
        - InternalServiceAuth: []
      parameters:
        - name: since
          in: query
          required: false
          description: ISO 8601 timestamp — only return URLs extracted after this time.
          schema:
            type: string
            format: date-time
            example: "2025-01-01T00:00:00Z"
      responses:
        "200":
          description: Snapshot of known PhishTank phishing URLs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhishtankSnapshotResponse"
        "401":
          description: Missing or invalid internal API key
        "429":
          description: Rate limit exceeded (10/minute)
        "503":
          description: Internal API not configured (INTERNAL_API_KEY not set)

  /internal/ml/evaluation-sets:
    post:
      tags: [internal]
      summary: Register or approve an immutable evaluation-only asset
      security: [{InternalServiceAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/EvaluationSetRegistration"}
      responses:
        "200":
          description: Idempotently persisted evaluation-set manifest
          content:
            application/json:
              schema: {$ref: "#/components/schemas/LineageRecordResponse"}
        "401": {description: Missing or invalid internal API key}
        "409": {description: Version exists with conflicting immutable content}
        "422": {description: Invalid evaluation-set manifest}
        "429": {description: Rate limit exceeded (10/minute)}
        "503": {description: Internal API authentication is not configured}

  /internal/ml/candidates:
    post:
      tags: [internal]
      summary: Register a successful training result as a candidate
      security: [{InternalServiceAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ModelCandidateRegistration"}
      responses:
        "200":
          description: Idempotently persisted candidate identity
          content:
            application/json:
              schema: {$ref: "#/components/schemas/LineageRecordResponse"}
        "401": {description: Missing or invalid internal API key}
        "409": {description: MLflow run is linked to conflicting lineage}
        "422": {description: Invalid payload or unknown frozen training dataset}
        "429": {description: Rate limit exceeded (10/minute)}
        "503": {description: Internal API authentication is not configured}

  /internal/ml/evaluations:
    post:
      tags: [internal]
      summary: Record a golden-set decision with its MLflow evidence reference
      security: [{InternalServiceAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ModelEvaluationRegistration"}
      responses:
        "200":
          description: Idempotently persisted evaluation decision
          content:
            application/json:
              schema: {$ref: "#/components/schemas/LineageRecordResponse"}
        "401": {description: Missing or invalid internal API key}
        "409": {description: MLflow evaluation run has conflicting lineage}
        "422": {description: Candidate or approved evaluation set is unavailable}
        "429": {description: Rate limit exceeded (10/minute)}
        "503": {description: Internal API authentication is not configured}

  /internal/ml/deployments:
    post:
      tags: [internal]
      summary: Record a manually approved production promotion result
      security: [{InternalServiceAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ModelDeploymentRegistration"}
      responses:
        "200":
          description: Idempotently persisted deployment result
          content:
            application/json:
              schema: {$ref: "#/components/schemas/LineageRecordResponse"}
        "401": {description: Missing or invalid internal API key}
        "409": {description: Promotion workflow run has conflicting lineage}
        "422": {description: Candidate has no passing evaluation}
        "429": {description: Rate limit exceeded (10/minute)}
        "503": {description: Internal API authentication is not configured}

  /v1/stats/kpi:
    get:
      tags: [app]
      summary: Get tenant-scoped classification counts and operator dataset counts
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Current KPI snapshot}

  /v1/alerts/preferences:
    get:
      tags: [app]
      summary: Get workspace alert preferences
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Alert preferences}
    put:
      tags: [app]
      summary: Replace workspace alert preferences
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Preferences updated}

  /v1/alerts/rules:
    get:
      tags: [app]
      summary: List workspace allowlist and blocklist rules
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Workspace rules}
    post:
      tags: [app]
      summary: Create a workspace rule
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Rule created}

  /v1/alerts/rules/{id}:
    delete:
      tags: [app]
      summary: Delete a workspace rule
      security: [{BearerAuth: []}]
      parameters:
        - {in: path, name: id, required: true, schema: {type: string}}
      responses:
        "200": {description: Rule deleted}
        "404": {description: Rule not found in this workspace}

  /v1/alerts/history:
    get:
      tags: [app]
      summary: List active workspace notifications
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Notification history}

  /v1/alerts/history/{id}/dismiss:
    post:
      tags: [app]
      summary: Dismiss a workspace notification
      security: [{BearerAuth: []}]
      parameters:
        - {in: path, name: id, required: true, schema: {type: string}}
      responses:
        "200": {description: Notification dismissed}
        "404": {description: Notification not found in this workspace}

  /v1/domain-shield/{domain}/status:
    get:
      tags: [app]
      summary: Read the persisted Domain Shield assessment or explicitly refresh it
      security: [{BearerAuth: []}]
      parameters:
        - {in: path, name: domain, required: true, schema: {type: string}}
        - {in: query, name: refresh, required: false, schema: {type: boolean, default: false}}
      responses:
        "200": {description: Domain Shield assessment}

  /v1/domain-shield/{domain}/dmarc-reports:
    get:
      tags: [app]
      summary: Get workspace DMARC aggregate-report summaries
      security: [{BearerAuth: []}]
      parameters:
        - {in: path, name: domain, required: true, schema: {type: string}}
      responses:
        "200": {description: DMARC report summary and top sources}

  /v1/domain-shield/{domain}/dmarc-reports/import:
    post:
      tags: [app]
      summary: Import a DMARC XML or compressed XML aggregate report
      security: [{BearerAuth: []}]
      parameters:
        - {in: path, name: domain, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/xml:
            schema: {type: string, format: binary}
          application/gzip:
            schema: {type: string, format: binary}
      responses:
        "200": {description: Report imported idempotently}
        "400": {description: Invalid report or mismatched domain}

  /v1/admin/runtime-health:
    get:
      tags: [admin]
      summary: Probe deployed app, inference, Cloudflare, and quarantine dependencies
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Platform runtime health}
        "403": {description: Platform admin access required}

  /v1/admin/overview:
    get:
      tags: [admin]
      summary: Get global platform analytics and recent operational records
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Platform overview}
        "403": {description: Platform admin access required}

  /v1/datasets:
    get:
      tags: [admin]
      summary: List global dataset versions for platform operators
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Dataset versions}
        "403": {description: Platform admin access required}

  /v1/data/datasets/{id}/publish:
    post:
      tags: [admin]
      summary: Publish a dataset version as a platform operator
      security: [{BearerAuth: []}]
      parameters:
        - {in: path, name: id, required: true, schema: {type: string}}
      responses:
        "200": {description: Publication result}
        "403": {description: Platform admin access required}

  /v1/pipeline/run:
    post:
      tags: [admin]
      summary: Enqueue the fixed incremental data pipeline operation
      security: [{BearerAuth: []}]
      responses:
        "200": {description: Allowlisted pipeline operation enqueued}
        "403": {description: Platform admin access required}

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    WorkerSecretAuth:
      type: apiKey
      in: header
      name: X-Sicurre-Secret
    InternalServiceAuth:
      type: http
      scheme: bearer
      description: Static service bearer token for internal platform calls.
  schemas:
    LineageRecordResponse:
      type: object
      required: [id, status, idempotent]
      properties:
        id: {type: string, format: uuid}
        status: {type: string}
        idempotent: {type: boolean}

    EvaluationSetRegistration:
      type: object
      required: [name, version_tag, schema_version, provenance, status, object_uri, content_checksum, item_count, label_counts, language_counts]
      properties:
        name: {type: string}
        version_tag: {type: string}
        schema_version: {type: string}
        provenance: {type: string, enum: [synthetic_provisional]}
        status: {type: string, enum: [draft, approved]}
        object_uri: {type: string, example: "r2://sicurre-evaluation/golden-v1/golden.jsonl"}
        content_checksum: {type: string, description: Lowercase SHA-256 digest}
        item_count: {type: integer, minimum: 1}
        label_counts: {type: object, additionalProperties: {type: integer}}
        language_counts: {type: object, additionalProperties: {type: integer}}
        reviewed_by: {type: string, nullable: true}
        reviewed_at: {type: string, format: date-time, nullable: true}

    ModelCandidateRegistration:
      type: object
      required: [model_name, semantic_version, service_source_revision, mlflow_run_id, mlflow_model_version, huggingface_repository, huggingface_revision, training_github_run_id, training_dataset_version_tag]
      properties:
        model_name: {type: string}
        semantic_version: {type: string}
        service_source_revision: {type: string, pattern: "^[a-fA-F0-9]{40}$"}
        mlflow_run_id: {type: string}
        mlflow_model_version: {type: string}
        huggingface_repository: {type: string}
        huggingface_revision: {type: string}
        training_github_run_id: {type: string}
        training_dataset_version_tag: {type: string}

    PromotionMetricSnapshot:
      type: object
      required: [candidate_weighted_f1, production_weighted_f1, candidate_phishing_recall, production_phishing_recall, candidate_legitimate_false_positives, production_legitimate_false_positives]
      properties:
        candidate_weighted_f1: {type: number, minimum: 0, maximum: 1}
        production_weighted_f1: {type: number, minimum: 0, maximum: 1}
        candidate_phishing_recall: {type: number, minimum: 0, maximum: 1}
        production_phishing_recall: {type: number, minimum: 0, maximum: 1}
        candidate_legitimate_false_positives: {type: integer, minimum: 0}
        production_legitimate_false_positives: {type: integer, minimum: 0}

    ModelEvaluationRegistration:
      type: object
      required: [candidate_mlflow_run_id, evaluation_set_version_tag, evaluation_set_checksum, mlflow_evaluation_run_id, outcome, metrics, evaluated_at]
      properties:
        candidate_mlflow_run_id: {type: string}
        incumbent_huggingface_revision: {type: string, nullable: true}
        evaluation_set_version_tag: {type: string}
        evaluation_set_checksum: {type: string}
        mlflow_evaluation_run_id: {type: string}
        outcome: {type: string, enum: [passed, failed, inconclusive]}
        metrics: {$ref: "#/components/schemas/PromotionMetricSnapshot"}
        evaluated_at: {type: string, format: date-time}

    ModelDeploymentRegistration:
      type: object
      required: [candidate_mlflow_run_id, mlflow_evaluation_run_id, github_run_id, approved_by, approved_at, status]
      properties:
        candidate_mlflow_run_id: {type: string}
        mlflow_evaluation_run_id: {type: string}
        github_run_id: {type: string}
        approved_by: {type: string}
        approved_at: {type: string, format: date-time}
        status: {type: string, enum: [active, failed, rolled_back]}
        deployed_revision: {type: string, nullable: true}
        failure_reason: {type: string, nullable: true}
        deployed_at: {type: string, format: date-time, nullable: true}

    PhishtankSnapshotResponse:
      type: object
      required: [urls, count, source, generated_at]
      properties:
        urls:
          type: array
          items:
            type: string
            format: uri
          description: Flat list of phishing URLs from PhishTank.
          example:
            - "http://example-phish.fr/login"
            - "http://urssaf-verify.net/compte"
        count:
          type: integer
          description: Number of URLs returned.
          example: 4218
        source:
          type: string
          description: Source system name.
          example: phishtank-online-valid
        generated_at:
          type: string
          format: date-time
          description: UTC timestamp when the snapshot was generated.
          example: "2025-05-22T14:30:00Z"
    DataSourceCreate:
      type: object
      required: [name, source_type]
      properties:
        name:
          type: string
          example: cert-fr-cti
        source_type:
          type: string
          enum: [api, file, scraping, sql, bigdata, manual]
        description:
          type: string
        owner_name:
          type: string
        legal_basis:
          type: string
        contains_personal_data:
          type: boolean
        retention_days:
          type: integer

    DataSource:
      allOf:
        - $ref: "#/components/schemas/DataSourceCreate"
        - type: object
          properties:
            id:
              type: string
            is_active:
              type: boolean
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    IngestionRunCreate:
      type: object
      required: [source_system_id, started_at, status, trigger_mode]
      properties:
        source_system_id:
          type: string
        started_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, running, completed, failed, partial]
        trigger_mode:
          type: string
          enum: [manual, scheduled]
          example: scheduled

    IngestionRun:
      allOf:
        - $ref: "#/components/schemas/IngestionRunCreate"
        - type: object
          properties:
            id:
              type: string
            finished_at:
              type: string
              format: date-time
            raw_object_count:
              type: integer
            raw_record_count:
              type: integer
            log_message:
              type: string

    RawRecord:
      type: object
      properties:
        id:
          type: string
        raw_object_id:
          type: string
        record_key:
          type: string
        raw_content:
          type: string
        detected_language:
          type: string
        is_usable:
          type: boolean
        rejection_reason:
          type: string
        extracted_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    NormalizedMessageCreate:
      type: object
      required: [raw_record_id, processing_run_id, normalized_text, language, current_label]
      properties:
        raw_record_id:
          type: string
        processing_run_id:
          type: string
        normalized_text:
          type: string
        language:
          type: string
          example: fr
        current_label:
          type: string
          enum: [phishing, spam, legitimate, unknown]
        quality_score:
          type: number
        contains_pii:
          type: boolean
        redaction_status:
          type: string
          enum: [not_required, redacted, review_needed]

    NormalizedMessageUpdate:
      type: object
      properties:
        current_label:
          type: string
          enum: [phishing, spam, legitimate, unknown]
        quality_score:
          type: number
        redaction_status:
          type: string
          enum: [not_required, redacted, review_needed]

    NormalizedMessage:
      allOf:
        - $ref: "#/components/schemas/NormalizedMessageCreate"
        - type: object
          properties:
            id:
              type: string
            text_sha256:
              type: string
            text_length:
              type: integer
            normalized_at:
              type: string
              format: date-time
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    AnnotationCreate:
      type: object
      required: [normalized_message_id, label, label_source, annotated_at]
      properties:
        normalized_message_id:
          type: string
        label:
          type: string
          enum: [phishing, spam, legitimate, unknown]
        label_source:
          type: string
          example: manual-review
        confidence:
          type: number
          minimum: 0
          maximum: 1
        comment:
          type: string
        is_validated:
          type: boolean
        annotated_at:
          type: string
          format: date-time

    Annotation:
      allOf:
        - $ref: "#/components/schemas/AnnotationCreate"
        - type: object
          properties:
            id:
              type: string
            created_at:
              type: string
              format: date-time

    DatasetCreate:
      type: object
      required: [name, version_tag, target_usage, status]
      properties:
        name:
          type: string
        version_tag:
          type: string
          example: french-phishing-v1
        target_usage:
          type: string
          example: training
        status:
          type: string
          enum: [draft, frozen, archived]

    Dataset:
      allOf:
        - $ref: "#/components/schemas/DatasetCreate"
        - type: object
          properties:
            id:
              type: string
            frozen_at:
              type: string
              format: date-time
            item_count:
              type: integer
            created_at:
              type: string
              format: date-time

    DatasetItem:
      type: object
      properties:
        id:
          type: string
        dataset_id:
          type: string
        normalized_message_id:
          type: string
        split_name:
          type: string
          enum: [train, val, test, holdout]
        sample_weight:
          type: number
        row_order:
          type: integer
        created_at:
          type: string
          format: date-time

    ClassifyRequest:
      type: object
      required: [subject, body, sender]
      properties:
        subject:
          type: string
          example: "URGENT : Mise a jour URSSAF requise"
        body:
          type: string
        sender:
          type: string
        received_at:
          type: string
          format: date-time
        message_id:
          type: string
        language:
          type: string
          example: fr

    ClassifyResponse:
      type: object
      required: [label, confidence, signals, model_version]
      properties:
        label:
          type: string
          enum: [phishing, spam, legitimate]
        confidence:
          type: number
          minimum: 0
          maximum: 1
        signals:
          type: array
          items:
            type: string
        model_version:
          type: string

    ModelVersion:
      type: object
      properties:
        id:
          type: string
        version_tag:
          type: string
        artifact_uri:
          type: string
        f1_score:
          type: number
        precision_score:
          type: number
        recall_score:
          type: number
        eval_samples:
          type: integer
        promoted_at:
          type: string
          format: date-time

    EmailScanRequest:
      type: object
      required: [sender]
      properties:
        message_id:
          type: string
          maxLength: 500
          description: Stable Message-ID or raw-MIME SHA-256 used for retry idempotency.
        subject:
          type: string
          example: "Facture impayee - action requise"
        sender:
          type: string
          example: "billing@example.test"
        text:
          type: string
          description: Plain-text email content extracted by the Cloudflare Email Worker.
        use_llm:
          type: boolean
          default: false
        use_virustotal:
          type: boolean
          default: false

    EmailScanResponse:
      type: object
      required: [event_id, verdict, label, score]
      properties:
        event_id:
          type: string
          description: Stable tenant-scoped identifier also added to delivered mail as X-Sicurre-Event-ID.
        verdict:
          type: string
          enum: [safe, spam, phishing, quarantine]
        label:
          type: string
          enum: [phishing, spam, legitimate]
        score:
          type: number
          minimum: 0
          maximum: 1
        explanation:
          type: string
        quarantine_id:
          type: string
          nullable: true
          description: Present only when the Worker must upload original MIME for custody.

    AuthSession:
      type: object
      properties:
        user:
          type: object
          properties:
            id:
              type: string
            email:
              type: string
              format: email
            name:
              type: string
        workspace:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
        member:
          type: object
          properties:
            role:
              type: string
              enum: [owner, admin, analyst, viewer]
        session:
          type: object
          properties:
            id:
              type: string
            expires_at:
              type: string
              format: date-time

    ThreatLogEntry:
      type: object
      properties:
        id:
          type: string
        message_id:
          type: string
        subject:
          type: string
        sender:
          type: string
        body_preview:
          type: string
        received_at:
          type: string
          format: date-time
        verdict:
          type: string
          enum: [phishing, spam, legitimate, quarantine]
        confidence:
          type: number
        status:
          type: string
          enum: [active, trashed, restored]
        model_version:
          type: string
        latency_ms:
          type: number
        explanation:
          type: string
        action_at:
          type: string
          format: date-time

    ThreatStatusUpdate:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [active, trashed, restored]

    FeedbackRequest:
      type: object
      required: [feedback_type, corrected_verdict]
      properties:
        event_id:
          type: string
          description: Optional app_inference_event id when feedback is tied to a known scan.
        feedback_type:
          type: string
          enum: [true_positive, false_positive, false_negative, true_negative]
        corrected_verdict:
          type: string
          enum: [phishing, spam, legitimate]
        reporter_note:
          type: string

    FeedbackResponse:
      type: object
      properties:
        id:
          type: string
        event_id:
          type: string
        feedback_type:
          type: string
        created_at:
          type: string
          format: date-time

    SupportRequest:
      type: object
      required: [requester_name, requester_email, category, message]
      properties:
        requester_name:
          type: string
          minLength: 2
          maxLength: 120
        requester_email:
          type: string
          format: email
        category:
          type: string
          enum: [incident, dns, billing, feedback, other]
        message:
          type: string
          minLength: 10
          maxLength: 4000

    SupportResponse:
      type: object
      required: [id, status, created_at]
      properties:
        id:
          type: string
        status:
          type: string
          enum: [open]
        created_at:
          type: string
          format: date-time

    QuarantineItem:
      type: object
      properties:
        id:
          type: string
        event_id:
          type: string
        subject:
          type: string
        sender:
          type: string
        recipient:
          type: string
        verdict:
          type: string
          enum: [phishing, spam, quarantine]
        confidence:
          type: number
        status:
          type: string
          enum: [held, released, deleted, whitelisted]
        released_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    QuarantineCustodyResponse:
      type: object
      required: [status, idempotent]
      properties:
        status:
          type: string
          enum: [stored]
        idempotent:
          type: boolean

    QuarantineReleaseResponse:
      type: object
      required: [status, forwarded_to, idempotent]
      properties:
        status:
          type: string
          enum: [released]
        forwarded_to:
          type: string
          format: email
        delivery_message_id:
          type: string
          nullable: true
        queued:
          type: boolean
        idempotent:
          type: boolean

    CloudflareSetupRequest:
      type: object
      required: [cf_api_token, zone_name, destination_email]
      properties:
        cf_api_token:
          type: string
          writeOnly: true
        zone_name:
          type: string
          example: example.fr
        destination_email:
          type: string
          format: email
        fix_spf:
          type: boolean
          default: true
        fix_dkim:
          type: boolean
          default: true
        fix_dmarc:
          type: boolean
          default: true

    CloudflareSetupResponse:
      type: object
      properties:
        integration_id:
          type: string
        status:
          type: string
          enum: [provisioning, active, degraded, disconnected]
        message:
          type: string

    CloudflareStatus:
      type: object
      properties:
        id:
          type: string
        domain:
          type: string
        zone_name:
          type: string
        zone_id:
          type: string
        status:
          type: string
          enum: [not_configured, provisioning, active, degraded, disconnected]
        routing_enabled:
          type: boolean
        worker_deployed:
          type: boolean
        mx_configured:
          type: boolean
        last_checked_at:
          type: string
          format: date-time

    CloudflareTokenVerifyRequest:
      type: object
      required: [cf_api_token, zone_name]
      properties:
        cf_api_token:
          type: string
          writeOnly: true
        zone_name:
          type: string

    CloudflareTeardownRequest:
      type: object
      required: [integration_id]
      properties:
        integration_id:
          type: string
        cf_api_token:
          type: string
          writeOnly: true
          description: Optional one-request override; the stored encrypted credential is used by default

    CloudflareTokenSaveRequest:
      type: object
      required: [cf_api_token]
      properties:
        cf_api_token:
          type: string
          writeOnly: true

    CloudflareTokenStatus:
      type: object
      properties:
        configured:
          type: boolean
          nullable: true
          description: Indicates whether an encrypted Cloudflare token is available; the token value is never returned.
